[submodule "OS/digitama"]
	path = OS/digitama/big_bang
	url = https://github.com/Gyoudmon/big-bang.cpp.git
[submodule "Cpp/digitama"]
	path = Cpp/digitama/big_bang
	url = https://github.com/Gyoudmon/big-bang.cpp.git
